<!DOCTYPE html>
<html>

<head>
    <title></title>
    <h1>
        MENSWEAR
    </h1>
</head>

<body>
    <li><a class="psw" routerLink="/men" routerLinkActive="active" ariaCurrentWhenActive="page"> MENWEAR</a></li>
    <div>
        <div id="column">
            <div id="card">
                
                <li><a class="psw" routerLink="/menwear" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="https://seeklogo.com/images/C/classy-mens-wear-logo-DF8B1EE3E6-seeklogo.com.png" ></a></li>
                <p style="font-size: 20px;  font-style:italic;">
                    
                </p>

            </div>
        </div>
    </div>
</body>
<script>
    function men() {
        window.location.href = "men.html ";
    }
</script>

</html>

