<!DOCTYPE html>
<html>

<head>
    <title></title>
    <h1>
        WOMENWEAR
    </h1>
</head>

<body>
    <li><a class="psw" routerLink="/women" routerLinkActive="active" ariaCurrentWhenActive="page"> WOMENWEAR</a></li>
    <div>
        <div id="column">
            <div id="card">
                <li><a class="psw" routerLink="/womenwear" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="assets/top4.jpg" ></a></li>
                
                <p style="font-size: 20px;  font-style:italic;">
                   
                </p>

            </div>
        </div>
    </div>

</body>


</html>   
