<!DOCTYPE html>
<html>

<head>
    <title></title>
    <h1>
        Footwear
    </h1>
</head>
<body>
    <li><a class="psw" routerLink="/foot" routerLinkActive="active" ariaCurrentWhenActive="page"> Footwear</a></li>
    <div>

        <div id="column">
            <div id="card">
                <li><a class="psw" routerLink="/footwear" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="assets/foot.png" ></a></li>
                <p style="font-size: 20px;  font-style:italic;">
                    
                </p>

            </div>
        </div>
    </div>

</body>
<script>
    function wear() {
        window.location.href = "foot.html ";
    }
</script>

</html>

