<!DOCTYPE html>
<html>
  <style>
    body {
      margin: 0;
      padding: 20px 20px;

      background-size:100%;
      background-position: cover;
      font-family: inherit;
      }
  </style>

   
 
  <body>
    <li><a class="psw" routerLink="/ulogin" routerLinkActive="active" ariaCurrentWhenActive="page"><img src=""  ></a></li>
 
    <div class="Login form">
        <form>
        <h1>LOGIN HERE</h1>
          <p>Username</p>
            <input type="text" id="un" name="User" placeholder="Enter Username">
            <p>Password</p>
            <input type="Password" id="up"name="Password" placeholder="Enter Password">
            <p></p>
            
            <span class="psw"><a href="#">
            <p></p>Forgot Password?</a></span>
         
         </form>
         <button id="sub" onclick="submit()">Submit</button>
         <li><a class="psw" routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">submit</a></li>

         <li><a class="psw" routerLink="/registration" routerLinkActive="active" ariaCurrentWhenActive="page">New user</a></li>
     </div>
          
 </body>
  

</html>
